{erl_first_files, []}.
{erl_opts,
    [fail_on_warning,
        {parse_transform, lager_transform}
    ]
}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "https://github.com/ruanpienaar/lager", {tag,"2.1.0"}}},
	{eper,  ".*", {git, "https://github.com/massemanet/eper",   {tag, "0.97.1"}}}
]}.
{sub_dirs,
 ["apps/erltea"]
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.